@charset "utf-8";
/* 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



/* 
    전체 페이지 공통 부분 
*/

* { margin: 0; padding: 0; }

body {
    font-family: 'Noto Sans KR', sans-serif; height: 100%; font-size: 16px; letter-spacing: -1px; color: #444; white-space: normal; word-wrap: break-word; line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; font-size: inherit;
}

ul, ol, li { list-style: none; }

a { text-decoration: none; }
a:link { color: #444; }
a:visited { color: #444; }
a:hover { color: #444; }
a:focus { color: #444; }

.clear:after { content:""; display: block; clear: both; }

.hdd, legend {
    font-size: 0; width: 0; height: 0; line-height: 0; text-indent: -9999px; overflow: hidden; visibility: hidden; position: absolute; top: 0; left: 0; 
}





/* 
    메인 페이지(index.html)
*/

.box_inner { width: 1050px; margin:0 auto; }

header {
    position: absolute; left: 0; top: 0; width: 100%; height: 113px; background: rgba(0, 0, 0, 0.5); z-index: 100;
}

header > .header_area > h1 { float: left; padding: 45px 0 0; }
header > .header_area > h1 > a { display: block; width: 270px; height: 71px; text-indent: -9999px; overflow: hidden; background: url(../images/logo.png) no-repeat; }
header > .header_area > .openMOgnb { display: none; }

/* 로그인 / 회원가입  */
.header_cont { float: right; width: 780px; }
.header_cont > .util { text-align: right; padding-top: 10px; }
.header_cont > .util > li { display: inline; }
.header_cont > .util > li:after {
    content: "|"; display: inline-block; padding: 0 10px; font-size: 10px; color: #eee; position: relative; top: -2px;
}

/* 메인 메뉴 */
.header_cont > .util > li:last-child::after { content: ""; display: none; }
.header_cont > .util > li > a { font-size: 14px; color: #eee; }

.header_cont .gnb { float: right; box-sizing: border-box; padding-top: 5px; }
.header_cont .gnb li { float: left; }
.header_cont .gnb li a { display: block; padding: 26px 40px; font-size: 18px; color: #fff; }
.header_cont .gnb li:last-child a { padding-right: 0; }
.header_cont .closePop { display: none; }

/* 서브 메뉴(감춰짐) */
.gnb_depth { position: absolute; left:0; top: 113px; width: 100%; background: rgba(250, 100, 0, 0.85); z-index: 100; display: none; }
.gnb_depth > .submenu_list { width: 1050px; margin: 0 auto; text-align: left; }
.gnb_depth2_1 > .submenu_list { box-sizing: border-box; padding-left: 480px; }
.gnb_depth2_2 > .submenu_list { box-sizing: border-box; padding-left: 600px; }
.gnb_depth2_3 > .submenu_list { box-sizing: border-box; padding-left: 730px; }
.gnb_depth2_4 > .submenu_list { box-sizing: border-box; padding-left: 945px; }
.gnb_depth > .submenu_list > li { display: inline; }
.gnb_depth > .submenu_list > li > a { display: inline-block; padding: 20px; }
.gnb_depth > .submenu_list > li:last-child > a { padding-right: 0px; }

/* 모바일롤링 숨기기 */
.main_rolling_mobile{
    display: none;
}

/* pc 롤링 */
#container { padding-bottom: 70px; }

.visualRoll { position: relative; width: 100%; }
.viewImgList { position: relative; width: 100%; }
.viewImgList > li { text-align: center; height: 550px; line-height: 550px; background-size: cover !important;
/*
background-size: 배경영역의 크기가 바뀔 때 배경이미지 사이즈 변화
[속성] 배경이미지 크기중에 가로세로 크기와 상관없음
cover: 가로세로 중 작은쪽 크기가 변화될 때 그 크기 기준으로 배경이미지 변화
contain: 가로세로 중 큰쪽 크기가 변화될 때 그 크기 기준으로 배경이미지 변화
auto: 배경이미지의 원래 크기대로 유지
100%: 배경영역에 맞춰서 크기를 변환
*/
}
.viewImgList > li.imglist0 { position: relative; z-index: 50; background: url(../images/mainslide01.jpg) no-repeat center; }
.viewImgList > li.imglist1 { position: absolute; width: 100%; top: 0; left: 0; z-index: 10; background: url(../images/mainslide02.jpg) no-repeat center; }
.viewImgList > li.imglist2 { position: absolute; width: 100%; top: 0; left: 0; z-index: 10; background: url(../images/mainslide03.jpg) no-repeat center; }

.viewImgList > li > .roll_content { position: relative; }
.viewImgList > li > .roll_content .roll_txtline { position: absolute; left: 0; bottom: 60px; width: 100%; line-height: 1; text-align: center; font-size: 22px; color: #fff; letter-spacing: 2px; }

.rollbtnArea { position: absolute; width: 100%; left: 0; bottom: 25px; z-index: 200; }
.rollbtnArea > .rollingbtn { width: 320px; margin: 0 auto; text-align: center; }
.rollbtnArea > .rollingbtn > li { display: inline-block; margin-right: 5px; }
.rollbtnArea > .rollingbtn > li.butt0 { margin-left: 10px; }
.rollbtnArea > .rollingbtn > li.rollplay { display: none; }
.rollbtnArea > .rollingbtn > li > a { vertical-align: top; }

/* 다시 찾는 인기 여행지 TOP 3 */
.about_area > h2 { padding: 55px 0 105px; text-align: center; font-size: 40px; }
.about_area > .about_box { background-color: #f4f0e9; }
.about_area .place_list > li { float: left; width: 32%; margin-left: 2%; text-align: center; position: relative; top: -50px; }
.about_area .place_list > li:first-child { margin-left: 0; }
.about_area .place_list > li .img_topplace { width: 100%; }
.about_area .place_list > li > h3 { font-weight: bold; font-size: 18px; padding-top: 25px; color: #000; }
.about_area .place_list > li > p.txt { box-sizing: border-box; padding: 10px 30px 0; width: 100%; overflow: hidden; word-break: keep-all; line-height: 1.8; color: #666; }
.about_area .place_list > li > .view { display: inline-block; margin-top: 20px; padding-top: 5px; border-top: 2px solid #333; color: #555; }

/* 상담 및 공지사항 */
.appbbs_area { padding: 60px 0; }
.appbbs_area > .appbbs_box > .app_line { float: left; width: 66%; box-sizing: border-box; padding: 45px 0; text-align: center; background: url(../images/bg_app.jpg) no-repeat; font-size: 0; }
.appbbs_area > .appbbs_box > .app_line > a { display: inline-block; width: 45.4%; height: 100px; line-height: 100px; box-sizing: border-box; padding-left: 75px; text-align: left; background: rgba(0, 0, 0, 0.3) url(../images/ico_katalk.png) no-repeat 20px 50%; border: 2px solid #fff; margin-right: 10px; font-size: 26px; color: #fff; vertical-align: middle; }
.appbbs_area > .appbbs_box > .app_line > a + a { margin-right: 0; padding-left: 85px; background-image: url(../images/ico_phone.png); }

.appbbs_box > .bbs_line { float: right; width: 30%; }
.appbbs_box > .bbs_line > h3 { font-size: 26px; }
.appbbs_box > .bbs_line > .notice_recent { padding-top: 10px; }
.appbbs_box > .bbs_line > .notice_recent > li { padding: 8px 0; }
.appbbs_box > .bbs_line > .notice_recent > li > a { display: block; padding-left: 14px; background: url(../images/ico_bullet.png) no-repeat 0 50%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* 푸터 */
footer { border-top: 1px solid #ddd; }
footer > .foot_area { position: relative; padding-bottom: 40px; }
footer > .foot_area > .foot_list { padding-top: 25px; }
footer > .foot_area > .foot_list > li { float: left; }
footer > .foot_area > .foot_list > li:first-child::after { content: "|"; display: inline-block; padding:0 10px; font-size: 10px; color: #000; position: relative; top: -2px; }

footer > .foot_area > h2 { padding-top: 25px; font-size: 14px; color: #666; }

footer > .foot_area > .addr { padding-top: 5px; line-height: 1.4; font-size: 13px; color: #666; }
footer > .foot_area > .addr > .space0 { letter-spacing: 0;}
footer > .foot_area > .copy { padding-top: 3px; font-size: 13px; color: #666; letter-spacing: 0; }


/* 퀵메뉴 */

/* 모바일퀵메뉴 숨김 */
.quick_area_mo{display: none;}

.quick_area{position: fixed; right: 0; top: 200px; z-index: 9999;
    width: 110px;
    border: 2px solid;
}

.quick_list{}
.quick_list li{font-size: 15px;
    background-color: #3a3e46;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #fff;
}
.quick_list li a{color: #fff;
    display: block; padding: 15px 0; border-top: 1px solid #282828;
}
.quick_list li a:first-child a{border-top: none;}
.quick_list li a h3{margin-bottom: 10px; font-size: 15px;}
.quick_list li a em{display: inline;}
.quick_list li a p{font-size: 14px;}
.to_top{display: block; width: 100%; height: 20px; text-align: center; line-height: 20px; background-color: #ccc;}

/* ----------------------------------------------------------------- */
/* 태블릿 */
@media all and (max-width:1065px) and (min-width:801px) {
    
    .box_inner {width: 100%;}
    header > .header_area > h1 {padding-left: 20px;}
    .header_cont { float: right; width: 60%; }
    .header_cont .gnb li a {padding: 26px 25px;}

    #container{padding-bottom: 20px;}
    .about_area .place_list{box-sizing: border-box; padding: 0 20px;}
    .appbbs_area > .appbbs_box{box-sizing: border-box; padding:20px;}
    .appbbs_area > .appbbs_box .app_line a {font-size: 21px;}

    footer > .foot_area{box-sizing: border-box; padding-left: 20px;}
    footer > .foot_area > .foot_list > li{padding-left: 15px;}
}


/* ------------------------------------------------------------------ */
/* 일반적인 모바일 */
@media all and (max-width:800px){

    .box_inner{width: 100%;}

    header {
        width: 100%; height: 90px; 
        background: rgba(0, 0, 0, 0.5); z-index: 200;
    }
    
    header > .header_area > h1 { float: none;
        width: 100%; height: 50px;
        text-align: center;
        padding: 35px 0 0; }
    header > .header_area > h1 > a { 
        display: inline-block;
        width: 180px; height: 23px;
        background-size: 180px 23px;
        }
    header > .header_area > .openMOgnb {
        display: block;
        position: absolute;
        left: 15px; top: 35px;
    }
    header > .header_area > .openMOgnb a{

    }
    header > .header_area > .openMOgnb span{
        display: block;
        width: 25px; height: 3px;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 4px;
    }
    header > .header_area > .openMOgnb span + span{
        width: 17px;
    }
    header > .header_area > .openMOgnb span:last-child{width: 25px;}

    /* pc메뉴 숨김 */
    .header_cont{display: none;}

    /* pc롤링 숨김 */
    .main_rolling_pc{display: none;}

    /* 모바일롤링 보이기 */
    .main_rolling_mobile{
        display: block;
    }
    .main_rolling_mobile .swiper_container{
        position: relative;
    }
    .main_rolling_mobile .swiper_container .swiper_slid{
        position: absolute; top: 0; left: 0;
    }
    .main_rolling_mobile .swiper_container .swiper_slid:nth-child(1){
        z-index: 30;
    }
    .main_rolling_mobile .swiper_container .swiper_slid:nth-child(2){
        z-index: 20;
    }
    .main_rolling_mobile .swiper_container .swiper_slid:nth-child(3){
        z-index: 10;
    }
    .main_rolling_mobile img{
        width: 100%;
    }

    #container{
        width: 100%; height: auto; padding-bottom: 80vw;
    }

    .about_area {
        padding: 0 20px;
    }
    .about_area > h2 { padding: 27px 0 25px; font-size: 20px; }
    .about_area > .about_box { background-color: #fff; }
    .about_area .place_list > li {
         float: none; width: 100%; margin-left: 0%; top: 0px; box-sizing: border-box; }
    .about_area .place_list > li > p.txt { box-sizing: border-box; padding: 10px 0; line-height: 1.4;}
    .about_area .place_list > li > .view {padding-bottom: 10px; margin-bottom: 30px;}


    .appbbs_area{padding: 0 20px;}
    .appbbs_area .app_line{display: none;}
    .appbbs_area .bbs_line{
        float: none;
        width: 100%; padding: 20px 0; 
        margin: 0 auto;
        padding-left: 20px;
        border: 1px solid;
        box-sizing: border-box;
    }


    /* footer 영역 */
    footer > .foot_area {box-sizing: border-box; padding:0 20px 120px; }
    footer > .foot_area > h2 { padding-top: 15px; font-size: 14px; color: #666; }
    footer > .foot_area > .addr { padding-top: 5px; line-height: 1.3; font-size: 14px; color: #767676; }
    footer > .foot_area > .addr > .space0 { letter-spacing: 0;}
    footer > .foot_area > .copy { padding:3px 0 20px; font-size: 14px; color: #666; letter-spacing: 0; }


    /* pc 퀵메뉴 숨김 */
    .quick_area{display: none;}
    
    /* 모바일퀵메뉴 */
    .quick_area_mo{display: block; position: fixed; left: 0; bottom: 0; z-index: 1000; width: 100%; height: 40px;}
    .quick_area_mo .quick_list{}
    .quick_area_mo .quick_list li{float: left; width: 33%;}

}
